*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid Layout */
#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto minmax(100vh, 1fr) auto;
    background-image: url(https://i.postimg.cc/VN9FnfWM/programming-coding-language-uhdpaper-com-4-K-6-256.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#app>* {
    grid-column: 1/-1;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
}

/* Logo Gif */
.logo{
    width: 4rem;
}

/* welcome heading  */
.welcome{
    margin-top: 15rem;
}

/* About content ul */
.about{
    text-decoration: none;
    list-style: none;
    margin-top: 7rem;
    padding: 1rem;
}

/* skills */
.skills{
    gap: 10rem;
}

/* All about content */
#aboutd{
    margin: 2rem;
}

/* About Image */
.dp {
    height: 20rem;
    margin: auto;
}

/* About Paragraph */
#dp_paragraph {
    margin: auto;
    width: 85%;
}

/* footer */
.footer{
    background-color: #2B3035;
}

/* footer icons */
.footerI {
    width: 1.5rem;
    
}

@media (width < 700px) {
    .skills{
        gap: 2rem;
    }
}